h1{
    color:white;
}
h2, h3{
    color: #3f51b5;
}
a{
    text-decoration: none;
}
.container{
    background:#38383d;
    max-width: auto;
    margin:0 auto;
    border:2px solid red;
    padding: 20px 1.25%;
}
@media(max-width:500px){
    .container{
        background:#38383d;
    }
}

.Navigation-Bar{
    border:1px solid red;
    display:flex;
    align-items:center;
    justify-content: center;
}
.Navigation-container{
    font-size:24px;
    border:1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
}

header{
    border:1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
}
header button{
    background:#3f51b5;
    color:white;
}
button:hover{
    background:#303f9f;
    color:white;
}

.Main-Section{
    border:1px solid blue;
    display:flex;
    flex-direction: column;
    width:100%;
}
.Store{
    border:1px solid red;
}


.Sponsors{
    border:1px solid orange;
}
footer{
    border:1px solid red;
}

/*stylistic images
#headline {
  padding: 0.8em;
  color: white;
  font-family: Roboto, sans-serif;
  background-image: url(backgroundimage.jpg);
  background-size: cover;

  .container{
    background:tan;
    max-width: 800px;
    margin:0 auto;
    border:2px solid black;
    padding: 20px 1.25%;
}
@media(max-width:500px){
    .container{
        background:green;
    }
}
}*/